<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>VillavicencioAlmacen</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/spring.cfg.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>pos</param-name>
        <param-value>classpath:/jpos.xml</param-value>
    </context-param>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>mx.com.villavicencio.almacen.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>mx.com.villavicencio.almacen.system.login.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidosController</servlet-name>
        <servlet-class>mx.com.villavicencio.almacen.system.pedidos.pedido.controller.PedidosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioController</servlet-name>
        <servlet-class>mx.com.villavicencio.almacen.system.inventario.controller.InventarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaVenta</servlet-name>
        <servlet-class>mx.com.villavicencio.almacen.system.venta.nota.nota.controller.NotaVentaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucionesController</servlet-name>
        <servlet-class>mx.com.villavicencio.almacen.system.venta.devoluciones.devoluciones.controller.DevolucionesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidosController</servlet-name>
        <url-pattern>/controller/pedidosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioController</servlet-name>
        <url-pattern>/controller/inventarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaVenta</servlet-name>
        <url-pattern>/controller/notaVentaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucionesController</servlet-name>
        <url-pattern>/controller/devolucionesController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
